/*
    Health Care - CSS Missions Page
    _Jaimeslespates
 */

// Devil CSS (Dev 0.3)
@import "../../devil/base";

// Breakpoints Mixin
@import "../../devil/utils/breakpoints";

/*
    Fonts
 */


// Montserrat
@import url('http://fonts.cdnfonts.com/css/montserrat');


/*
    Main
 */
body {
  scroll-behavior: smooth;
  display: grid;
  grid-template: 6vh 100vh 5vh / 100%;
  @include tablet {
    grid-template: 6vh 100vh 3vh / 100%;
  }
}



/*
    Header
 */
@import "../../assets/utils/header";



/*
    Main Content
 */
@import "../../assets/utils/form";


/*
    Footer
   */

@import "../../assets/utils/footer";
footer {
  z-index: 999;
}