.card {
  display: flex;
  flex-flow: row wrap;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;

  .card-main {
    display: flex;
    padding-bottom: 0.75rem;
    align-items: center;

    img {
      width: 125px;
      height: 70px;
    }

    .card-main-text {

      @include tablet {
        max-width: 500px;
      }

      .card-title {
        font-size: 14px;
        font-weight: bold;
        padding: 0 $base-padding;
      }

      .card-date {
        font-size: 12px;
        font-weight: 500;
        line-height: 2px;
        padding: $base-padding $base-padding;
      }
    }

  }

  .card-body {
    text-align: center;
    font-size: 12px;
    a {
      text-decoration: underline;
    }
  }

}